[submodule "Document-service"]
	path = Document-service
	url = https://github.com/hieunguyen3110/C2SE.40-SASS-JAVA-MICROSERVICES.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/hieunguyen3110/C2SE.40-SASS-JAVA-MICROSERVICES.git
[submodule "e-learning-service"]
	path = e-learning-service
	url = https://github.com/hieunguyen3110/C2SE.40-SASS-JAVA-MICROSERVICES.git
[submodule "identity-service"]
	path = identity-service
	url = https://github.com/hieunguyen3110/C2SE.40-SASS-JAVA-MICROSERVICES.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/hieunguyen3110/C2SE.40-SASS-JAVA-MICROSERVICES.git
[submodule "study-group-service"]
	path = study-group-service
	url = https://github.com/hieunguyen3110/C2SE.40-SASS-JAVA-MICROSERVICES.git
