HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

document-service/src/main/resources/serviceAccountKey.json
identity-service/src/main/resources/serviceAccountKey.json

identity-service/.env
discovery-server/.env
api-gateway/.env
notification-service/.env
websocket-server/.env
study-group-service/.env
e-learning-service/.env
batch-service/.env

Recommendation-system-service/
Chatbot-service/
### VS Code ###
.vscode/


